/*wsui-border-collapse Start*/
$wsui-border-collapse-options: () !default;

.wsui-border-collapse {
  &__table {
    display: table;
    border-collapse: collapse;
  }
  &__row {
    display: table-row;
  }
  &__cell {
    display: table-cell;
    width: 2000px;
    box-sizing: border-box;
  }
}
/*wsui-border-collapse End*/
